@model FanOfTheVan.Services.Models.Market

@using (Html.BeginForm("Edit", "Home"))
{
    <div class="mb20 mt30">
        Name: @Html.EditorFor(x => x.Name)
    </div>
    <div class="mb20">
        Description: @Html.EditorFor(x => x.Description)
    </div>
    <div class="mb20">
        Url: @Html.EditorFor(x => x.Url)
    </div>
    <div class="mb20">
        <div class="mb10">Street address: @Html.EditorFor(x => x.StreetAddress)</div>
        <div class="mb10">City: @Html.EditorFor(x => x.City)</div>
        <div class="mb10">Postcode: @Html.EditorFor(x => x.Postcode)</div>
        <div style="margin-bottom: 10px">
            Paste lat long <input type="text" id="pasteLatLong" />
        </div>
        <div class="mb20">
            Latitude: @Html.EditorFor(x => x.Latitude)
        </div>
        <div class="mb20">
            Longitude: @Html.EditorFor(x => x.Longitude)
        </div>
    </div>
    <div class="mb20">
        Hours
        @foreach (var day in new DayOfWeek[] { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday })
        {
            <div class="mb20 day">
                @day.ToString(): @Html.EditorFor(x => x.OpeningTimes[day].OpenTime) to @Html.EditorFor(x => x.OpeningTimes[day].CloseTime)
                <button type="button" class="copyNext">Copy</button>
                <div class="mt10 mb10">
                    Repeat type: @Html.EditorFor(x => x.OpeningTimes[day].RepeatRule.RepeatType)
                    Repeat week of month: @Html.EditorFor(x => x.OpeningTimes[day].RepeatRule.WeekOfMonth)
                </div>
            </div>
        }
    </div>
    <button type="button" id="cancelBtn">Cancel</button>
    <button type="submit">Submit</button>
}

<script type="text/javascript">
    $(function () {
        $("#cancelBtn").click(function () {
            window.location.href = '@Url.Action("Create", "Home")';
        })
    })
</script>

