@model List<FanOfTheVan.Services.Models.IMarket>

<div>
    @foreach (var market in Model)
    {
    <div class="market" data-id="@market.MarketId" data-lat="@market.Latitude" data-long="@market.Longitude" data-name="@market.Name" data-colour="@market.Colour">
        <p class="fs24 mb0">@market.Name Market
            <span class="glyphicon glyphicon-map-marker fltr" style="color: @market.Colour;"></span>
        </p>
        <p class="mb5 pl5">
            <span class="glyphicon glyphicon-share-alt"></span>
            @(market.Distance.ToString("F1"))km
        </p>
        <p class="cGry1 mb10 pl5">
            @market.City, @market.Postcode
        </p>
        
        @if (!string.IsNullOrWhiteSpace(market.Description))
        {
            if (market.Description.Length > 100)
            {
                <p class="description-blurb pl5">@market.Description.Substring(0, 100)
                    <span class="cGry2">...click for more</span>
                </p>
            }
            <p class="description hidden pl5">@market.Description</p>
        }
        <div class="cGry1">
            <div class="hours-toggle closed bdr-top">
                <p class="mb5">
                    Open hours
                    <span class="hours-arrow-icon glyphicon glyphicon-triangle-bottom fltr cGry1 mt3"></span>
                </p>

                @if (market.ResultDayOfWeek.HasValue)
                {
                    <div class="filter-hours bdr-top pt5 pb10">
                        <div>@market.ResultDayOfWeek.ToString(): @market.ResultOpeningTimes.OpenTime.ToString(@"hh\:mm") - @market.ResultOpeningTimes.CloseTime.ToString(@"hh\:mm")</div>
                        <div class="cGry2">Click to see more</div>
                    </div>
                }

                <div class="hours-div hidden bdr-top pt5 pb10">
                    @foreach (var day in new DayOfWeek[]{ DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday})
                    {
                        <div>
                            @day.ToString()
                            @if (market.OpeningTimes[day].IsOpen())
                            {
                                <span>@market.OpeningTimes[day].OpenTime.ToString(@"hh\:mm") - @market.OpeningTimes[day].CloseTime.ToString(@"hh\:mm")</span>
                            }
                            else
                            {
                                <span>Closed</span>
                            }
                        </div>
                    }
                    <div class="cGry2">Click to hide</div>
                </div>
            </div>
        </div>
    </div>
    }
</div>